header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 7px;
}

h1 {
  font-size: 26px;
  color: #222731;
}

.theme {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.theme-text {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2.5px;
  color: #4b6a9b;
}
